@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './base/animations';
@import './base/general';
@import './components/loader';
@import './components/buttons';
@import './layout/header';
@import './layout/footer';
@import './pages/home';
@import './pages/menus';