.footer
{
    background-color: map-get($colors, footer-bg);
    color: map-get($colors, footer-font);

    img
    {
        margin: calc(var(--spacing)/2) 0;
        width: calc(var(--spacing)*6.2);
        filter: invert(1) brightness(4);
    }

    .fas
    {
        @extend %flex-center;
        flex: 1;
        margin-right: calc(var(--spacing)/4);
        max-width: 1.5rem;
    }

    &__link-list
    {
        list-style-type: none;
        padding: 0;
    }

    &__link
    {
        display: flex;
        margin: calc(var(--spacing)/2) 0;
    }

    &__link, &__link a
    {
        color: inherit;
    }

    a
    {
        flex: 5;
    }
}