.footer
{
    background-color: map-get($colors, footer-bg);
    color: map-get($colors, footer-font);

    &__title
    {
        margin-top: 0;
        font-family: "Shrikhand", serif;
    }

    &__link-list
    {
        list-style-type: none;
        padding: 0;
    }

    &__link, &__link a
    {
        color: inherit;
    }
}