.header
{
    padding-top: var(--spacing);
    padding-bottom: calc(var(--spacing)/2);
    text-align: center;
    box-shadow: 0 3px 4px rgba(140,140,140,.3);
    z-index: 2;

    img
    {
        width: calc(var(--spacing)*10);
    }
}