.container, .loader, .loader__spinner, .footer .fas, .location__search-bar, .location__search-bar .fas, .operation__card span, .menu__content, .menu__check {
  display: flex;
  justify-content: center;
  align-items: center; }

.loader__spinner::after, .operation__card, .restaurant__card, .menu__content label {
  box-shadow: 0px 5px 14px rgba(180, 180, 180, 0.5); }

@keyframes smooth-cards {
  from {
    transform: translateY(calc(var(--spacing)*1.5));
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes loader-animation {
  92% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0;
    visibility: hidden; } }
@keyframes loader-spinner {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-logo {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.07); }
  100% {
    transform: scale(1); } }
@keyframes loader-dots {
  0% {
    opacity: .2; }
  50% {
    opacity: 1; }
  100% {
    opacity: .2; } }
* {
  box-sizing: border-box;
  margin: 0; }

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@media only screen and (min-width: 0px) {
  :root {
    --spacing: 1rem; }

  body * {
    font-size: 0.8rem; }

  h2 {
    font-size: 1.1rem; }

  h3 {
    font-size: 1rem; } }
@media only screen and (min-width: 310px) {
  :root {
    --spacing: 1.2rem; }

  body * {
    font-size: 0.9rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.1rem; } }
@media only screen and (min-width: 375px) {
  :root {
    --spacing: 1.2rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.2rem; } }
@media only screen and (min-width: 414px) {
  :root {
    --spacing: 1.3rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.4rem; }

  h3 {
    font-size: 1.2rem; } }
@media only screen and (min-width: 768px) {
  :root {
    --spacing: 1.5rem; }

  body * {
    font-size: 1.4rem; }

  h2 {
    font-size: 1.8rem; }

  h3 {
    font-size: 1.6rem; } }
@media only screen and (min-width: 1025px) {
  :root {
    --spacing: 1.5rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.2rem; } }
body {
  font-family: "Roboto", sans-serif;
  color: #000; }

h1, h2, h3 {
  margin-top: var(--spacing); }

a {
  text-decoration: none;
  color: inherit; }

.container {
  flex-direction: column;
  width: 100%; }
  .container > * {
    width: 100%; }

section:not(.location, .menu), footer {
  padding: var(--spacing);
  padding-bottom: calc(var(--spacing)*2); }

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 5;
  animation: loader-animation 4s ease-in forwards; }
  .loader__spinner {
    position: relative;
    width: 50vw;
    max-width: 250px;
    height: auto; }
    .loader__spinner::after {
      position: absolute;
      content: '';
      width: 100%;
      padding-bottom: 95%;
      background: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 0%, #99e2d0), radial-gradient(circle at top right, rgba(0, 0, 0, 0) 0%, #ff79da), radial-gradient(circle at bottom, rgba(0, 0, 0, 0) 0%, #9356dc);
      border-radius: 50%;
      animation: loader-spinner 2s linear infinite;
      z-index: 1; }
    .loader__spinner::before {
      position: absolute;
      content: '';
      width: 94%;
      padding-bottom: 93%;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: inset 0px 5px 14px rgba(180, 180, 180, 0.5);
      z-index: 2; }
  .loader__logo {
    position: absolute;
    width: 100%;
    max-width: 500px;
    text-align: center;
    z-index: 3; }
    .loader__logo img {
      margin-bottom: .5rem;
      width: 80%;
      animation: loader-logo 5s ease-in-out infinite; }
    .loader__logo p {
      opacity: .6; }
    .loader__logo span {
      animation: loader-dots 1s infinite both; }
      .loader__logo span:nth-of-type(2) {
        animation-delay: .3s; }
      .loader__logo span:last-of-type {
        animation-delay: .6s; }

.btn {
  position: relative;
  padding: calc(var(--spacing)/1.2) var(--spacing);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 6px 10px rgba(90, 90, 90, 0.5);
  background: linear-gradient(175deg, #ff79da, #9356dc);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transform: scale(1);
  transition: all .3s ease-in-out; }
  .btn::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    border-radius: 50px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    background: radial-gradient(ellipse at 33% 75%, rgba(255, 255, 255, 0) 40%, rgba(245, 245, 245, 0.9));
    opacity: 0;
    transition: all .25s .05s ease-in-out;
    z-index: 2; }
  .btn:hover::after {
    opacity: .75; }
  .btn:hover {
    transform: scale(1.05); }

.header {
  position: relative;
  padding-top: var(--spacing);
  padding-bottom: calc(var(--spacing)/2);
  text-align: center;
  box-shadow: 0 3px 4px rgba(140, 140, 140, 0.3);
  z-index: 2; }
  .header .fas {
    position: absolute;
    font-size: calc(var(--spacing)*1.2);
    top: 50%;
    left: calc(var(--spacing)*1.2);
    transform: translateY(-50%); }
  .header img {
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--spacing)*10); }

.footer {
  background-color: #353535;
  color: #fff; }
  .footer img {
    margin: calc(var(--spacing)/2) 0;
    width: calc(var(--spacing)*6.2);
    filter: invert(1) brightness(4); }
  .footer .fas {
    flex: 1;
    margin-right: calc(var(--spacing)/4);
    max-width: 1.5rem; }
  .footer__link-list {
    list-style-type: none;
    padding: 0; }
  .footer__link {
    display: flex;
    margin: calc(var(--spacing)/2) 0; }
  .footer__link, .footer__link a {
    color: inherit; }
  .footer a {
    flex: 5; }

.location__search-bar {
  padding: calc(var(--spacing)/2);
  background-color: #eaeaea;
  z-index: 1;
  text-align: center; }
  .location__search-bar::after {
    display: block;
    content: ''; }
  .location__search-bar::after, .location__search-bar .fas {
    width: calc(var(--spacing)/1.2);
    height: calc(var(--spacing)/1.2); }
  .location__search-bar input {
    padding: calc(var(--spacing)/2);
    width: calc(var(--spacing)*8);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: unset;
    color: #595959;
    text-align: center;
    font-weight: bold; }
.location__submit-div {
  padding: var(--spacing);
  padding-bottom: calc(var(--spacing)*2.5);
  background-color: #f6f6f6;
  text-align: center; }
  .location__submit-div h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%; }
  .location__submit-div p {
    margin-top: calc(var(--spacing)/1.2);
    margin-bottom: calc(var(--spacing)*1.2);
    opacity: .6; }

.operation__card {
  display: flex;
  align-items: center;
  position: relative;
  margin: var(--spacing);
  margin-right: 0;
  margin-left: calc(var(--spacing)/1.5);
  padding: calc(var(--spacing)*1.2);
  border-radius: 1.2rem;
  background-color: #f6f6f6;
  transition: all .2s ease-in-out; }
  .operation__card span {
    position: absolute;
    left: calc(var(--spacing)/(-1.3));
    width: 1rem;
    height: 1rem;
    padding: calc(var(--spacing)/1.2);
    border-radius: 50%;
    background-color: #9356dc;
    color: #fff;
    z-index: 2; }
    .operation__card span::before {
      content: '';
      padding-bottom: 100%; }
  .operation__card .fas {
    margin-left: calc(var(--spacing)/1.2);
    opacity: .6;
    transition: all .2s ease-in-out; }
  .operation__card p {
    margin-left: calc(var(--spacing)*1.2); }
  .operation__card::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: 0px 6px 15px rgba(100, 100, 100, 0.15);
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 1; }
  .operation__card:hover {
    background-color: #f2eafb; }
    .operation__card:hover .fas {
      opacity: 1;
      color: #9356dc; }
    .operation__card:hover::after {
      opacity: 1; }

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6; }
  .restaurant .fas, .restaurant .far {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
    font-size: calc(var(--spacing)*1.25);
    transition: all .3s; }
  .restaurant .fas {
    z-index: 2;
    background: linear-gradient(to bottom, #9356dc 10%, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0; }
    .restaurant .fas:hover {
      opacity: 1; }
      .restaurant .fas:hover + .far {
        opacity: 0; }
  .restaurant .far {
    z-index: 1; }
  .restaurant__card {
    margin-top: var(--spacing);
    border-radius: 1rem;
    overflow: hidden; }
  .restaurant__image {
    position: relative;
    padding-bottom: 55%;
    background-size: cover;
    background-position: center; }
    .restaurant__image--alafrancaise {
      background-image: url(../img/alafrancaise.jpg);
      background-position: 50% 100%; }
    .restaurant__image--lanoteenchentee {
      background-image: url(../img/lanoteenchentee.jpg);
      background-position: 50% 65%; }
    .restaurant__image--lapalettedugout {
      background-image: url(../img/lapalettedugout.jpg);
      background-position: 50% 100%; }
    .restaurant__image--ledelicedessens {
      background-image: url(../img/ledelicedessens.jpg);
      background-position: 50% 100%; }
  .restaurant__new {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: calc(var(--spacing)/1.2);
    margin-right: calc(var(--spacing)/1.2);
    padding: calc(var(--spacing)/3) calc(var(--spacing)/2);
    border-radius: 0.1428571429rem;
    box-shadow: 0 2px 3px rgba(140, 140, 140, 0.5);
    background-color: #99e2d0;
    color: #20705d;
    font-weight: bold; }
  .restaurant__info {
    position: relative;
    padding: var(--spacing); }
  .restaurant__title {
    margin-top: 0; }

.menu {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top; }
  .menu__image--alafrancaise {
    background-image: url(../img/alafrancaise.jpg); }
  .menu__image--lanoteenchentee {
    background-image: url(../img/lanoteenchentee.jpg);
    background-position: 50% calc(-65%/2); }
  .menu__image--lapalettedugout {
    background-image: url(../img/lapalettedugout.jpg); }
  .menu__image--ledelicedessens {
    background-image: url(../img/ledelicedessens.jpg); }
  .menu__title, .menu__content {
    padding: var(--spacing);
    background-color: #f6f6f6; }
  .menu__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 53.5vw;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem; }
    .menu__title h2 {
      font-family: "Shrikhand", serif;
      font-size: calc(var(--spacing)*1.7);
      font-weight: normal; }
    .menu__title .far {
      margin-top: var(--spacing);
      margin-left: auto;
      margin-right: auto;
      font-size: calc(var(--spacing)*1.6); }
  .menu__content {
    flex-direction: column;
    padding-bottom: calc(var(--spacing)*3); }
    .menu__content > *:not(.btn) {
      width: 100%; }
    .menu__content h2 {
      margin-top: 0;
      font-weight: normal;
      text-transform: uppercase; }
      .menu__content h2::after {
        display: block;
        content: '';
        margin-top: 6px;
        width: calc(var(--spacing)*2.6);
        height: 4px;
        background-color: #99e2d0; }
    .menu__content h3 {
      margin-top: 0; }
    .menu__content label {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: var(--spacing);
      margin-bottom: var(--spacing);
      overflow: hidden;
      flex-wrap: nowrap;
      border-radius: 1rem;
      background-color: #fff;
      cursor: pointer;
      z-index: 1;
      opacity: 0;
      animation: smooth-cards .6s .3s ease-in-out forwards; }
    .menu__content label:nth-of-type(2) {
      animation-delay: .45s; }
    .menu__content label:last-of-type {
      animation-delay: .6s; }
    .menu__content input[type="radio"] {
      display: none; }
      .menu__content input[type="radio"]:checked + label .menu__price, .menu__content input[type="radio"] + label:hover .menu__price {
        width: calc(var(--spacing)*5.25); }
      .menu__content input[type="radio"]:checked + label .menu__check, .menu__content input[type="radio"] + label:hover .menu__check {
        transform: translateX(-100%); }
      .menu__content input[type="radio"]:checked + label .fas, .menu__content input[type="radio"] + label:hover .fas {
        transition: all .4s .1s ease-in-out;
        transform: rotate(0); }
  .menu__dishes {
    position: relative;
    margin-bottom: calc(var(--spacing)*2); }
  .menu__dish {
    margin: calc(var(--spacing)*.8);
    margin-right: auto;
    overflow: hidden;
    transition: all .5s; }
    .menu__dish h3, .menu__dish p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
  .menu__price {
    flex: 0 0 auto;
    margin: calc(var(--spacing)*.8);
    margin-top: auto;
    width: calc(var(--spacing)*1.5);
    font-weight: bold;
    text-align: left;
    transition: all .5s ease-in-out; }
  .menu__check {
    flex: 0 0 auto;
    position: absolute;
    left: 100%;
    width: calc(var(--spacing)*3.6);
    height: 100%;
    background-color: #99e2d0;
    color: white;
    transition: all .5s ease-in-out; }
    .menu__check .fas {
      font-size: calc(var(--spacing)*1.2);
      transform: rotate(-180deg);
      transition: all .0s .5s ease-in-out; }
  .menu .btn {
    padding-left: calc(var(--spacing)*2.2);
    padding-right: calc(var(--spacing)*2.2); }
