.operation__card, .restaurant__card {
  box-shadow: 0px 5px 14px rgba(180, 180, 180, 0.5); }

* {
  box-sizing: border-box;
  margin: 0; }

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@media only screen and (min-width: 0px) {
  :root {
    --spacing: 1rem; }

  body * {
    font-size: 0.8rem; }

  h2 {
    font-size: 1.1rem; }

  h3 {
    font-size: 1rem; } }
@media only screen and (min-width: 310px) {
  :root {
    --spacing: 1.2rem; }

  body * {
    font-size: 0.9rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.1rem; } }
@media only screen and (min-width: 375px) {
  :root {
    --spacing: 1.2rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.2rem; } }
@media only screen and (min-width: 414px) {
  :root {
    --spacing: 1.3rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.4rem; }

  h3 {
    font-size: 1.2rem; } }
@media only screen and (min-width: 768px) {
  :root {
    --spacing: 1.5rem; }

  body * {
    font-size: 1.4rem; }

  h2 {
    font-size: 1.8rem; }

  h3 {
    font-size: 1.6rem; } }
@media only screen and (min-width: 1025px) {
  :root {
    --spacing: 1.5rem; }

  body * {
    font-size: 1rem; }

  h2 {
    font-size: 1.3rem; }

  h3 {
    font-size: 1.2rem; } }
body {
  font-family: "Roboto", sans-serif;
  color: #000; }

h1, h2, h3 {
  margin-top: var(--spacing); }

a {
  text-decoration: none;
  color: inherit; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container > * {
    width: 100%; }

section:not(.location), footer {
  padding: var(--spacing);
  padding-bottom: calc(var(--spacing)*2); }

.header {
  padding-top: var(--spacing);
  padding-bottom: calc(var(--spacing)/2);
  text-align: center;
  box-shadow: 0 3px 4px rgba(140, 140, 140, 0.3);
  z-index: 2; }
  .header img {
    width: calc(var(--spacing)*10); }

.footer {
  background-color: #353535;
  color: #fff; }
  .footer img {
    margin: calc(var(--spacing)/2) 0;
    width: calc(var(--spacing)*6.2);
    filter: invert(1) brightness(4); }
  .footer .fas {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: calc(var(--spacing)/4);
    max-width: 1.5rem; }
  .footer__link-list {
    list-style-type: none;
    padding: 0; }
  .footer__link {
    display: flex;
    margin: calc(var(--spacing)/2) 0; }
  .footer__link, .footer__link a {
    color: inherit; }
  .footer a {
    flex: 5; }

.location__search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing)/2);
  background-color: #eaeaea;
  z-index: 1;
  text-align: center; }
  .location__search-bar::after {
    display: block;
    content: ''; }
  .location__search-bar::after, .location__search-bar .fas {
    width: calc(var(--spacing)/1.2);
    height: calc(var(--spacing)/1.2); }
  .location__search-bar .fas {
    display: flex;
    justify-content: center;
    align-items: center; }
  .location__search-bar input {
    padding: calc(var(--spacing)/2);
    width: calc(var(--spacing)*8);
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: unset;
    color: #595959;
    text-align: center;
    font-weight: bold; }
.location__submit-div {
  padding: var(--spacing);
  padding-bottom: calc(var(--spacing)*2.5);
  background-color: #f6f6f6;
  text-align: center; }
  .location__submit-div h2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%; }
  .location__submit-div p {
    margin-top: calc(var(--spacing)/1.2);
    margin-bottom: calc(var(--spacing)*1.2);
    opacity: .6; }
  .location__submit-div button {
    position: relative;
    padding: calc(var(--spacing)/1.2) var(--spacing);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 6px 10px rgba(90, 90, 90, 0.5);
    background: linear-gradient(175deg, #ff79da, #9356dc);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    transform: scale(1);
    transition: all .3s ease-in-out; }
    .location__submit-div button::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      border-radius: 50px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
      background: radial-gradient(ellipse at 33% 75%, rgba(0, 0, 0, 0) 40%, rgba(245, 245, 245, 0.9));
      opacity: 0;
      transition: all .25s .05s ease-in-out;
      z-index: 2; }
    .location__submit-div button:hover::after {
      opacity: .75; }
    .location__submit-div button:hover {
      transform: scale(1.05); }

.operation__card {
  display: flex;
  align-items: center;
  position: relative;
  margin: var(--spacing);
  margin-right: 0;
  margin-left: calc(var(--spacing)/1.5);
  padding: calc(var(--spacing)*1.2);
  border-radius: 1.2rem;
  background-color: #f6f6f6; }
  .operation__card span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(var(--spacing)/(-1.3));
    width: 1rem;
    height: 1rem;
    padding: calc(var(--spacing)/1.2);
    border-radius: 50%;
    background-color: #9356dc;
    color: #fff; }
    .operation__card span::before {
      content: '';
      padding-bottom: 100%; }
  .operation__card .fas {
    margin-left: calc(var(--spacing)/1.2);
    opacity: .6; }
  .operation__card p {
    margin-left: calc(var(--spacing)*1.2); }
  .operation__card:nth-of-type(3) {
    background-color: #f2eafb; }
    .operation__card:nth-of-type(3) .fas {
      opacity: 1;
      color: #9356dc; }

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f6f6f6; }
  .restaurant .fas, .restaurant .far {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
    font-size: calc(var(--spacing)*1.25);
    transition: all .3s; }
  .restaurant .fas {
    z-index: 2;
    background: linear-gradient(to bottom, #9356dc 10%, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0; }
    .restaurant .fas:hover {
      opacity: 1; }
      .restaurant .fas:hover + .far {
        opacity: 0; }
  .restaurant .far {
    z-index: 1; }
  .restaurant__card {
    margin-top: var(--spacing);
    border-radius: 1rem;
    overflow: hidden; }
  .restaurant__image {
    position: relative;
    padding-bottom: 55%;
    background-size: cover;
    background-position: center; }
    .restaurant__image--alafrancaise {
      background-image: url(../img/alafrancaise.jpg);
      background-position: 50% 100%; }
    .restaurant__image--lanoteenchentee {
      background-image: url(../img/lanoteenchentee.jpg);
      background-position: 50% 65%; }
    .restaurant__image--lapalettedugout {
      background-image: url(../img/lapalettedugout.jpg);
      background-position: 50% 100%; }
    .restaurant__image--ledelicedessens {
      background-image: url(../img/ledelicedessens.jpg);
      background-position: 50% 100%; }
  .restaurant__new {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: calc(var(--spacing)/1.2);
    margin-right: calc(var(--spacing)/1.2);
    padding: calc(var(--spacing)/3) calc(var(--spacing)/2);
    border-radius: 0.1428571429rem;
    box-shadow: 0 2px 3px rgba(140, 140, 140, 0.5);
    background-color: #99e2d0;
    color: #20705d;
    font-weight: bold; }
  .restaurant__info {
    position: relative;
    padding: var(--spacing); }
  .restaurant__title {
    margin-top: 0; }
