.operation
{
    &__card
    {
        display: flex;
        align-items: center;
        position: relative;
        margin: var(--spacing);
        margin-right: 0;
        margin-left: calc(var(--spacing)/1.5);
        padding: calc(var(--spacing)*1.2);
        border-radius: (map-get($dimensions, radius))*1.2;
        @extend %box-shadow;
        background-color: map-get($colors, section-bg);

        span
        {
            @extend %flex-center;
            position: absolute;
            left: calc(var(--spacing)/-1.3);
            width: 1rem;
            height: 1rem;
            padding: calc(var(--spacing)/1.2);
            border-radius: 50%;
            background-color: map-get($colors, primary);
            color: #fff;
            z-index: 2;

            &::before
            {
                content: '';
                padding-bottom: 100%;
            }
        }

        .fas
        {
            margin-left: calc(var(--spacing)/1.2);
            opacity: .6;
            transition: all .2s ease-in-out;
        }

        p
        {
            margin-left: calc(var(--spacing)*1.2);
        }

        &:last-of-type
        {
            background-color: lighten(map-get($colors, primary), 35%);


            .fas
            {
                color: map-get($colors, primary);
            }
            
            &::after, .fas
            {
                opacity: 1;
            }

        }
    }

    @include wide-screen
    {
        align-self: flex-start;
        margin-left: calc(var(--spacing)*2);
    }
}