.restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background-color: map-get($colors, section-bg);

    .fas, .far
    {
        position: absolute;
        top: map-get($dimensions, spacing);
        right: map-get($dimensions, spacing);
        font-size: 1.5rem;
        transition: all .3s;
    }

    .fas
    {
        z-index: 2;
        background: linear-gradient(to bottom, map-get($colors, primary) 10%, map-get($colors, secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;

        &:hover
        {
            opacity: 1;

            + .far
            {
                opacity: 0;
            }
        }
    }
    
    .far
    {
        z-index: 1;
    }

    &__card
    {
        margin-top: map-get($dimensions, spacing);
        border-radius: map-get($dimensions, radius);
        @extend %box-shadow;
        overflow: hidden;
    }

    &__image
    {
        position: relative;
        padding-bottom: 55%;
        background-size: cover;
        background-position: center;

        @each $name, $datas in map-get($images, restaurants)
        {
            &--#{$name}
            {
                background-image: map-get($datas, url);
                background-position: map-get($datas, position);
            }
        }
    }

    &__new
    {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: (map-get($dimensions, spacing))/1.2;
        margin-right: (map-get($dimensions, spacing))/1.2;
        padding: (map-get($dimensions, spacing))/3 (map-get($dimensions, spacing))/2;
        border-radius: (map-get($dimensions , radius)/8);
        box-shadow: 2px 2px 3px rgba(120,120,120,.4);
        background-color: map-get($colors, tertiary);
        color: darken(map-get($colors, tertiary), 46%);
        font-weight: bold;
    }

    &__info
    {
        position: relative;
        padding: map-get($dimensions, spacing);
    }

    &__title
    {
        margin-top: 0;
    }
}