.restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background-color: map-get($colors, section-bg);

    .fas, .far
    {
        position: absolute;
        top: var(--spacing);
        right: var(--spacing);
        font-size: calc(var(--spacing)*1.25);
        transition: all .3s;
    }

    .fas
    {
        z-index: 2;
        background: linear-gradient(to bottom, map-get($colors, primary) 10%, map-get($colors, secondary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;

        &:hover
        {
            opacity: 1;

            + .far
            {
                opacity: 0;
            }
        }
    }
    
    .far
    {
        z-index: 1;
    }

    &__card
    {
        margin-top: var(--spacing);
        border-radius: map-get($dimensions, radius);
        @extend %box-shadow;
        overflow: hidden;
    }

    &__image
    {
        position: relative;
        padding-bottom: 55%;
        background-size: cover;
        background-position: center;

        @each $name, $datas in map-get($images, restaurants)
        {
            &--#{$name}
            {
                background-image: map-get($datas, url);
                background-position: map-get($datas, positionX) map-get($datas, positionY);
            }
        }
    }

    &__new
    {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: calc(var(--spacing)/1.2);
        margin-right: calc(var(--spacing)/1.2);
        padding: calc(var(--spacing)/3) calc(var(--spacing)/2);
        border-radius: (map-get($dimensions , radius)/7);
        box-shadow: 0 2px 3px rgba(140,140,140,.5);
        background-color: map-get($colors, tertiary);
        color: darken(map-get($colors, tertiary), 46%);
        font-weight: bold;
    }

    &__info
    {
        position: relative;
        padding: var(--spacing);
    }

    &__title
    {
        margin-top: 0;
    }
}