.restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: map-get($colors, section-bg);

    @include wide-screen
    {
        flex: 1;
        justify-content: space-around;
        margin: 0 var(--spacing);
        margin-right: calc(var(--spacing)*2);
        margin-bottom: calc(var(--spacing)*3);
        max-width: 720px;
        border-radius: map-get($dimensions, radius);

        h2
        {
            flex-basis: 100%;
        }
    }

    &__card
    {
        margin-top: var(--spacing);
        border-radius: map-get($dimensions, radius);
        @extend %box-shadow;
        overflow: hidden;
        transition: .3s ease-in-out;

        @include wide-screen
        {
            position: relative;
            display: flex;

            &:hover
            {
                transform: scale(1.02);
            }

            a
            {
                flex-basis: 45%;
            }
        }
    }

    &__image
    {
        position: relative;
        padding-bottom: 55%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @each $name, $datas in map-get($images, restaurants)
        {
            &--#{$name}
            {
                background-image: map-get($datas, url);
                background-position: map-get($datas, positionX) map-get($datas, positionY);
            }
        }

        @include wide-screen
        {
            position: initial;
        }
    }

    &__new
    {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: calc(var(--spacing)/1.2);
        margin-right: calc(var(--spacing)/1.2);
        padding: calc(var(--spacing)/3) calc(var(--spacing)/2);
        border-radius: (map-get($dimensions , radius)/7);
        box-shadow: 0 2px 3px rgba(140,140,140,.5);
        background-color: map-get($colors, tertiary);
        color: darken(map-get($colors, tertiary), 46%);
        font-weight: bold;

        @include wide-screen
        {
            top: initial;
            right: initial;
            bottom: var(--spacing);
            left: 45%;
            margin-left: var(--spacing);
        }
    }

    &__info
    {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
        background-color: #fff;

        div:first-of-type
        {
            flex: 1;
        }

        a
        {
            display: block;
            padding: var(--spacing);
        }

        @include wide-screen
        {
            flex-basis: 55%;

            > div
            {
                height: 100%;

                a 
                {
                    height: inherit;
                }
            }
        }

        .favorite
        {
            font-size: calc(var(--spacing)*1.25);
        }
    }

    &__title
    {
        margin-top: 0;
    }
}