.info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: map-get($colors, section-bg);
    text-align: center;

    p
    {
        opacity: .6;
    }
}