.restaurant
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background-color: map-get($colors, section-bg);

    .fa-heart
    {
        float: right;
        font-size: 1.5rem;
    }

    &__image
    {
        position: relative;
        padding-bottom: 48%;
        background-size: cover;
        background-position: center;

        $i: 1;
        @each $name, $url in map-get($images, restaurants)
        {
            &#{$i}
            {
                background-image: $url;
            }
            $i: $i+1;
        }
    }

    &__new
    {
        position: absolute;
        top: 0;
        right: 0;
        background-color: map-get($colors, tertiary);
        color: darken(map-get($colors, tertiary), 46%);
        font-weight: bold;
    }
}