@keyframes smooth-cards 
{
    from
    {
        transform: translateY(calc(var(--spacing)*1.5));
        opacity: 0;
    }

    to
    {
        transform: translateY(0);
        opacity: 1;
    }
}