@include get-fonts($fonts);

*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    font-family: "Roboto", sans-serif;
    color: map-get($colors, font);
}

h1, h2, h3
{
    margin-top: map-get($dimensions, spacing);
}

a
{
    text-decoration: none;
    color: inherit;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    > *
    {
        width: 100%;
    }
}

section, footer
{
    padding: map-get($dimensions, spacing);

    &:not(.location)
    {
        padding-bottom: (map-get($dimensions, spacing))*2;
    }
}