*
{
    box-sizing: border-box;
    margin: 0;
}

@include get-fonts($fonts);

// Returns breakpoints based media queries, including "--spacing" variable
@include screen-sizes(map-get($dimensions, screen-sizes));

html
{
    font-size: 16px;
}

body
{
    font-family: "Roboto", sans-serif;
    color: map-get($colors, font);
}

h2, h3
{
    margin-top: var(--spacing);
}

h1
{
    font-family: "Shrikhand", cursive;
}

a
{
    text-decoration: none;
    color: inherit;
}

.container
{
    @extend %flex-center;
    flex-direction: column;
    width: 100%;

    > *
    {
        width: 100%;
    }

    @include wide-screen
    {
        flex-direction: row;
        flex-wrap: wrap;

        > *
        {
            width: auto;
        }
    }
}

section:not(.location):not(.menu), footer
{
    padding: var(--spacing);
    padding-bottom: calc(var(--spacing)*2);
}