.menu
{
    @include wide-screen
    {
        margin: calc(var(--spacing)*2);
        width: 100%;
        max-width: 1130px;
        border-radius: map-get($dimensions, radius)*3;
        overflow: hidden;
    }

    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;

    &__image
    {
        @each $name, $datas in map-get($images, restaurants)
        {
            &--#{$name}
            {
                background-image: map-get($datas, url);
                @if (map-get($datas, positionY) != 100%)
                {
                    background-position: 50% calc(-#{map-get($datas, positionY)}/5);
                    
                    @include wide-screen
                    {
                        background-position: 50% 100%+map-get($datas, positionY);
                        background-size: cover;
                    }
                }
            }
        }
    }

    &__title, &__content
    {
        padding: var(--spacing);
        background-color: map-get($colors, section-bg);
    }

    &__title
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 53.5vw;
        font-size: 1.5em;

        @include media-query((310px: 1.4rem, 400px: 1.8rem, 440px: 2.1rem, 500px: 2.3rem));

        @include wide-screen
        {
            margin-top: 50%;
            width: 500px;
        }

        border-top-left-radius: map-get($dimensions, radius)*3;
        border-top-right-radius: map-get($dimensions, radius)*3;

        h2
        {
            font-family: "Shrikhand", cursive;
            font-weight: normal;
            font-size: inherit;
        }

        > div
        {
            margin-top: calc(var(--spacing)/10);
        }
    }

    &__content
    {
        
        @extend %flex-center;
        flex-direction: column;
        padding-bottom: calc(var(--spacing)*3);
        
        @include wide-screen
        {
            padding-top: calc(var(--spacing)*2);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            border-top-right-radius: map-get($dimensions, radius)*3
        }

        h2
        {
            margin-top: 0;
            font-size: 1rem;
            font-weight: normal;
            text-transform: uppercase;
            opacity: .65;

            @include media-query((400px: 1.2rem, 440px: 1.4rem));

            &::after
            {
                display: block;
                content: '';
                margin-top: 6px;
                width: calc(var(--spacing)*2.6);
                height: 4px;
                background-color: map-get($colors, tertiary);
            }
        }

        h3
        {
            margin-top: 0;
        }

        label
        {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-top: var(--spacing);
            margin-bottom: var(--spacing);
            overflow: hidden;
            flex-wrap: nowrap;
            @extend %box-shadow;
            border-radius: map-get($dimensions, radius);
            background-color: #fff;
            cursor: pointer;
            z-index: 1;
            transform: translateY(calc(var(--spacing)*1.5));
            opacity: 0;
            animation: smooth-cards .6s ease-in-out forwards;
        }

        @for $i from 1 through 4
        {
            label:nth-of-type(#{$i})
            {
                animation-delay: calc(.35s + #{$i}*.15s);
            }
        }

        input[type="radio"]
        {
            display: none;

            &:checked + label, & + label:hover, & + label:focus
            {
                .menu__price
                {
                    width: calc(var(--spacing)*5.25);
                }

                .menu__check
                {
                    transform: translateX(-100%);
                }
                
                .fas
                {
                    transition: all .4s .1s ease-in-out;
                    transform: rotate(0);
                }
            }
        }
    }

    &__dishes
    {
        position: relative;
        margin-bottom: calc(var(--spacing)*2);
        width:100%;

        @include wide-screen
        {
            width: 31%;

            &:not(:last-of-type)
            {
                margin-right: var(--spacing);
            }
        }
    }

    &__dish
    {
        margin: calc(var(--spacing)*.8);
        margin-right: auto;
        overflow: hidden;
        transition: all .5s;

        strong
        {
            font-size: 1.2em;
            font-weight: bold;
        }
        
        strong, span
        {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__price
    {
        flex: 0 0 auto;
        margin: calc(var(--spacing)*.8);
        margin-top: auto;
        width: calc(var(--spacing)*1.5);
        font-weight: bold;
        text-align: left;
        transition: all .5s ease-in-out;
    }

    &__check
    {
        flex: 0 0 auto;
        @extend %flex-center;
        position: absolute;
        left: 100%;
        width: calc(var(--spacing)*3.6);
        height: 100%;
        background-color: map-get($colors, tertiary);
        color: white;
        transition: all .5s ease-in-out;
        
        .fas
        {
            font-size: calc(var(--spacing)*1.2);
            transform: rotate(-180deg);
            transition: all .0s .5s ease-in-out;
        }
    }
}