@mixin get-fonts($font-list)
{
    @each $font in $font-list
    {
        @font-face 
        {
            font-family: map-get($font, family);
            src: url(map-get($font, source)) format(map-get($font, format));
            font-weight: map-get($font, weight);
            font-style: map-get($font, style);
        }
    }
}

@mixin screen-sizes($sizes)
{
    @each $name, $values in $sizes
    {
        @media only screen and (min-width: map-get($values, breakpoint))
        {
            :root
            {
                --spacing: #{map-get($values, spacing)};
            }
            
            body *
            {
                font-size: map-get($values, font);
            }

            h2
            {
                font-size: map-get($values, h2);
            }

            h3
            {
                font-size: map-get($values, h3);
            }
        }
    }
}