$fonts:
(
    (
        family: "Shrikhand",
        source: "../fonts/Shrikhand-regular.ttf",
        format: "truetype",
        weight: normal,
        style: normal
    ),
    (
        family: "Roboto",
        source: "../fonts/Roboto-Regular.ttf",
        format: "truetype",
        weight: normal,
        style: normal
    ),
    (
        family: "Roboto",
        source: "../fonts/Roboto-Bold.ttf",
        format: "truetype",
        weight: bold,
        style: normal
    )
);

$colors:
(
    primary: #9356dc,
    secondary: #ff79da,
    tertiary: #99e2d0,

    font: #000,

    location-bg: #eaeaea,
    section-bg: #f6f6f6,
    footer-bg: #353535,
    footer-font: #fff
);

$images:
(
    restaurants:
    (
        alafrancaise: 
        (
            url: url(../img/alafrancaise.jpg),
            positionX: 50%,
            positionY: 100%
        ),
        lanoteenchentee: 
        (
            url: url(../img/lanoteenchentee.jpg),
            positionX: 50%,
            positionY: 65%
        ),
        lapalettedugout:
        (
            url: url(../img/lapalettedugout.jpg),
            positionX: 50%,
            positionY: 100%
        ),
        ledelicedessens:
        (
            url: url(../img/ledelicedessens.jpg),
            positionX: 50%,
            positionY: 100%
        )
    )
);

$dimensions:
(
    screen-sizes:
    (
        xxsmall:
        (
            breakpoint: 0px,
            font: .8rem,
            h2: 1.1rem,
            h3: 1rem,
            spacing: 1rem
        ),
        xsmall:
        (
            breakpoint: 310px,
            font: .9rem,
            h2: 1.3rem,
            h3: 1.1rem,
            spacing: 1.2rem
        ),
        small:
        (
            breakpoint: 375px,
            font: 1rem,
            h2: 1.3rem,
            h3: 1.2rem,
            spacing: 1.2rem
        ),
        medium:
        (
            breakpoint: 414px,
            font: 1rem,
            h2: 1.4rem,
            h3: 1.2rem,
            spacing: 1.3rem
        ),
        large:
        (
            breakpoint: 768px,
            font: 1.4rem,
            h2: 1.8rem,
            h3: 1.6rem,
            spacing: 1.5rem
        ),
        wide:
        (
            breakpoint: 1025px,
            font: 1rem,
            h2: 1.3rem,
            h3: 1.2rem,
            spacing: 1.5rem
        )
    ),
    radius: 1rem
)